.mat-column-id_Column {
    flex: none;
    width: 100px;
    font-size: x-small;
  }

.mat-column-pageName {
  flex: none;
  width: 100px;
  font-size: x-small;
}

.mat-column-accessDate {
  flex: none;
  width: 100px;
  font-size: x-small;
}

.mat-column-ipValue {
  flex: none;
  width: 100px;
  font-size: x-small;
}
    
.mdc-list-item__content
{
   color:bisque;  
   font-size: x-small; 
}


.form-group {
  background-color: #ccc;
  width:300px;
  margin-bottom: 1em;
  display: flex;
  align-items: center;
}

label {
  width      :  150px;
  margin-left:  5px; /* Add spacing between label and input */
  margin-left:  5px; /* Add spacing between label and input */
}

input[type="text"]
{
  width: 10px;
}


input,
textarea,
select {
  /* Adjust width and other styles as needed */
  flex: 1; /* Grow input fields to fill remaining space */
}

a, a:visited, a:hover, a:active {
  color: #007bff; 
}


