    /*------------------------------------------------*/
    /* ESTILO PARA FORMJLARIO                         */
    /*------------------------------------------------*/
    .form-group {
        width:350px;
        margin-bottom: 1em;
        display: flex;
        align-items: center;
        background-color: #ccc;
    }
  
    label {
        width      :  150px;
        margin-left:  5px; /* Add spacing between label and input */
        margin-left:  5px; /* Add spacing between label and input */
    }
    
    input[type="text"]
    {
        width: 10px;
    }
    
    input,
    textarea,
    select {
        /* Adjust width and other styles as needed */
        flex: 1; /* Grow input fields to fill remaining space */
    }
    /*------------------------------------------------*/
    /* ESTILO PARA AREA DE XML                        */
    /*------------------------------------------------*/
    #global 
    {
        width         : 350px;
        height        : 100px;
        border        : 1px solid #ddd;
        background    : #cccccc;
        color         : #0000ff;
        overflow-y    : scroll;
    }
    #mensajes 
    {
        height: auto;
    }

   
    