.game-container
{
    width           : "100%";
    padding         : 1em;
    background-color: #cccccc;
}

.steps-container
{
    height          : auto; /* Set a fixed height for the container */
    width           : 100%;
    /*overflow-y      : auto;*/ /* Enable vertical scrollbar */
    border          : 1px solid #000; /* Optional: Add a border for visualization */
    padding         : 0.1em;
    background-color: #cccccc;
}

.steps-content
{
    padding         : 0.1em;
}

table {
    width:150px;
    height:auto;
    border: 2px solid black; 
}

thead td {
    color: bisque;
}

td {
   border: 1px dashed #ccc;  
}