    /*------------------------------------------------*/
    /* ESTILO PARA FORMJLARIO                         */
    /*------------------------------------------------*/
    .form-group {
        width:350px;
        margin-bottom: 1em;
        display: flex;
        align-items: center;
        background-color: #ccc;
    }
  
    label {
        width      :  150px;
        margin-left:  5px; /* Add spacing between label and input */
        margin-left:  5px; /* Add spacing between label and input */
    }
    
    input[type="text"]
    {
        width: 10px;
    }
    
    input,
    textarea,
    select {
        /* Adjust width and other styles as needed */
        flex: 1; /* Grow input fields to fill remaining space */
    }
    /*------------------------------------------------*/
    /* ESTILO PARA CANVAS                             */
    /*------------------------------------------------*/

    #c_canvas {
        width: 250px;
        height: 250px;
        background-color: #fff;
    }

    /*------------------------------------------------*/
    /* ESTILO PARA LISTADO                            */
    /*------------------------------------------------*/
    #DistanceList {
        width: 250px;
    }