
<H4>{{this.pageTitle}}</H4>
<hr>
<div align="left">
    <ul *ngFor="let page of this._pages" >
        <li>        
            <!-- WARNING : ROOT MUST NOT HAVE "./#/" STYLE -->
            @if (page.queryParams)
            {
                <a [routerLink]="[page.url]"  [queryParams]="page.queryParamsObj">{{page.text}}</a>
            } 
            @else 
            {            
                <a [routerLink]="[page.url]">{{page.text}}</a>
            }
        </li>
    </ul>
</div>
<hr>
<div align="right"><a routerLink="/Home">[Home]</a></div>