.mat-column-id_Column {
    flex: none;
    width: 100px;
    font-size: x-small;
  }

.mat-column-ciudad {
  flex: none;
  width: 100px;
  font-size: x-small;
}

.mat-column-nombreCompleto {
  flex: none;
  width: auto;
  font-size: x-small;
}

.mdc-list-item__content
{
   color:bisque;   
   font-size: x-small;
}

.form-group {
  background-color: #ccc;
  width:300px;
  margin-bottom: 1em;
  display: flex;
  align-items: center;
}

label {
  width      :  150px;
  margin-left:  5px; /* Add spacing between label and input */
  margin-left:  5px; /* Add spacing between label and input */
}

input[type="text"]
{
  width: 10px;
}

input,
textarea,
select {
  /* Adjust width and other styles as needed */
  flex: 1; /* Grow input fields to fill remaining space */
}

a, a:visited, a:hover, a:active {
  color: #007bff; 
}


/* Dark theme styles for the table */

.dark-theme-table {
  width: 100%;
  background-color: #1e1e1e;
  color : #1378dd;
  /*color: #ffffff;*/
}

.dark-theme-table .mat-header-cell {
  background-color: #2c2c2c;
  /*color: #ffffff;*/
  color : #1378dd;
  font-weight: bold;
}

.dark-theme-table .mat-row {
  background-color: #1e1e1e;
  color : #1378dd;
  /*color: #e0e0e0;*/
}

.dark-theme-table .mat-row:hover {
  background-color: #2a2a2a;
  color : #1378dd;
}

.dark-theme-table .mat-cell {
  border-bottom-color: #404040;
    color : #1378dd;
  /*color: #e0e0e0;*/
}

.reference a, a:visited, a:hover, a:active {
  color: #ffffff; 
}
